.logged-in.admin-bar .header {
    top: 32px;
}

.header {
    background-color: var(--color-theme-secondary);
    height: 88px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
}

.header__inner {
    max-width: 1380px;
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 0 var(--spacing-md);
    display: flex;
    justify-content: space-between;
}

.header__logo-wrapper svg {
    width: 220px;
}

.header__logo-wrapper svg:first-child {
    margin-right: var(--spacing-md);
}
