/*--------------------------------------------------------------
# helpers
--------------------------------------------------------------*/
.reset-padding {
	padding: 0;
}

.reset-padding-top {
	padding-top: 0;
}

.reset-padding-bottom {
	padding-bottom: 0;
}

.reset-padding-left {
	padding-left: 0;
}

.reset-padding-right {
	padding-right: 0;
}

.reset-margin {
	margin: 0;
}

.reset-margin-top {
	margin-top: 0;
}

.reset-margin-bottom {
	margin-bottom: 0;
}

.reset-margin-left {
	margin-left: 0;
}

.reset-padding-bottom {
	margin-bottom: 0;
}
